# -*- mode: shell-script ; coding: utf-8-dos -*-

$DOWNLOAD_LIST = @(
    # CMAKE
    @{
        URI = "https://cmake.org/files/v3.6/cmake-3.6.2-win64-x64.zip";
        OPTIONS = "-Expand";
    }
    # MSYS2
    ,@{
        URI = "http://jaist.dl.sourceforge.net/project/msys2/Base/x86_64/msys2-base-x86_64-20160921.tar.xz";
        OPTIONS = "-Expand";
    }
    # Python
    # ,@{
    #     URI = "https://www.python.org/ftp/python/2.7.12/python-2.7.12.amd64.msi";
    #     OPTIONS = "-Install";
    # }
    # GnuWin32
    # ,@{
    #     URI = "http://jaist.dl.sourceforge.net/project/getgnuwin32/getgnuwin32/0.6.30/GetGnuWin32-0.6.3.exe";
    #     OPTIONS = "-Install";
    # }
)
